<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<div th:insert="~{util/util::head}" />
</head>

<body>
	<div class="">
		<!-- Navigation -->
		<div th:insert="~{util/navbar::navbar}" />

		<!-- Notifications -->
		<section class="py-8">
			<div class="container">
				<div class="p-6 mb-6 bg-white rounded shadow">
					<!-- Breadcrumb -->
					<div aria-label="breadcrumb" style="-bs-breadcrumb-divider: '&gt;'">
						<ol class="breadcrumb small mb-0">
							<li class="breadcrumb-item"><a
								class="text-decoration-none d-flex align-items-center"
								th:href="@{/}"> <span class="d-inline-block me-2"> <i
										class="fa-solid fa-house-chimney"></i>
								</span> <span class="text-secondary">Home</span>
							</a></li>
							<li class="breadcrumb-item"><a
								class="text-decoration-none d-flex align-items-center"
								th:href="@{/profile/} + ${session.user.id}"> <span
									class="d-inline-block me-2"> <i class="fa-solid fa-user"></i>
								</span> <span class="text-secondary">Profile</span>
							</a></li>

							<li class="breadcrumb-item"><a
								class="text-decoration-none d-flex align-items-center"> <span
									class="d-inline-block me-2"> <i
										class="fa-solid fa-envelope"></i>
								</span> <span class="text-secondary">View Notification</span>
							</a></li>
						</ol>
					</div>

					<!-- Notifications -->
					<div
						class="mb-5 pt-8 d-flex flex-wrap align-items-center justify-content-between">
						<!-- Heading -->
						<div>
							<div class="d-flex align-items-center">
								<h5 class="mb-0 me-2">Notifications</h5>
								<span class="badge bg-danger-light text-danger"><span
									th:text="${notifications.size()}">6</span> New</span>
							</div>
							<p></p>
							<p class="mb-0 text-secondary">Notifications of project invites, meetings and new projects that have been posted with your skills.</p>
						</div>

					</div>

					<!-- No notifications -->
					<div
						class="p-4 mb-2 bg-light-light rounded d-flex align-items-center justify-content-between"
						th:if="${notifications.size()==0}">
						<div class="d-flex align-items-center">
							<span
								class="d-flex justify-content-center align-items-center rounded text-primary bg-primary-light"
								style="width: 40px; height: 40px; object-fit: cover"> <i
								class="fa-regular fa-envelope-open"></i>
							</span>
							<div class="ms-3">
								<h4 class="mb-0 small">Inbox Empty</h4>
								<p class="mb-0 text-secondary small">You don't have any new
									incoming message.</p>
							</div>
						</div>
					</div>

					<!-- Notification -->
					<div
						class="p-4 mb-2 bg-light-light rounded d-flex align-items-center justify-content-between"
						th:each="notif:${notifications}" th:object="${notif}">
						<div class="d-flex align-items-center">
							<span
								class="d-flex justify-content-center align-items-center rounded text-primary bg-primary-light"
								style="width: 40px; height: 40px; object-fit: cover"> <i
								class="fa-solid fa-envelope"></i>
							</span>
							<div class="ms-3">
								<div th:if="*{sender}">
									<a th:href="@{'/profile/' + *{sender.id}}" style="text-decoration: none">
										<p class="mb-0 h6" th:text="*{sender.firstName}+' '+*{sender.lastName}"></p>
									</a>
								</div>
								<div th:if="!*{sender}">
									<p class="mb-0 h6">System</p>
								</div>
	
							</div>
							<div class="ms-3 px-8">
								<p class="text-secondary mb-0  fw-bold" th:text="*{notif_title}">Notification
									Title</p>
							</div>

							<div class="ms-3">
								<p class="mb-0 text-secondary small" th:text="*{notif_text}">Notification
									Body</p>
							</div>
						</div>
						<div class="d-flex align-items-center">
							<a class="btn px-3"
								th:href="@{'/notification/view/' + *{notif_id} }"> <i
								class="fa-solid fa-envelope-open text-primary fa-lg"></i>
							</a>
							<!-- Delete -->
							<a class="btn px-3"
								th:href="@{'/notification/delete/'+*{notif_id}}"> <i
								class="fa-solid fa-trash text-danger fa-lg"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div th:insert="util/util:: js  " />
</body>
</html>
