<!DOCTYPE html>
<html lang="en">
<head>
<title>Edit Project</title>
<div th:insert="~{util/util::head}" />
</head>


<body>
	<div class="" th:object="${user}">
		<!-- Navigation -->
		<div th:insert="~{util/navbar::navbar}" />

		<!-- Edit Profile -->
		<section class="py-8">
			<div class="container">
				<div class="p-6 mb-6 bg-white rounded shadow">
					<!-- Breadcrumb -->
					<div class="d-flex w-100 align-items-center">
						<div aria-label="breadcrumb"
							style="-bs-breadcrumb-divider: '&gt;'">
							<ol class="breadcrumb small mb-0">
								<li class="breadcrumb-item"><a
									class="text-decoration-none d-flex align-items-center"
									th:href="@{/profile/} + ${session.user.id}"> <span
										class="d-inline-block me-2"> <i
											class="fa-solid fa-house-chimney"></i>
									</span> <span class="text-secondary">Home</span>
								</a></li>

								<li class="breadcrumb-item"><a
									class="text-decoration-none d-flex align-items-center"
									th:href="@{'/project/'+${project.projectId}}"> <span
										class="d-inline-block me-2"> <i
											class="fa-solid fa-file-lines"></i>
									</span> <span class="text-secondary">Project</span>
								</a></li>

								<li class="breadcrumb-item"><a
									class="text-decoration-none d-flex align-items-center" href="">
										<span class="d-inline-block me-2"> <i
											class="fa-solid fa-pen-to-square"></i>
									</span> <span class="text-secondary">Edit Project</span>
								</a></li>
							</ol>
						</div>
					</div>

					<!-- Edit Profile -->
					<div class="py-8">
						<h3 class="h5 mb-2">Edit Project</h3>
						<form class="pt-5" th:object="${project}"
							th:action="@{/saveProject}" method="post">


							<!-- Hidden Fields -->
							<input th:field="*{projectId}" hidden /> <input
								th:field="*{creator}" hidden />

							<!-- Project Title -->
							<div class="mb-6">
								<label class="form-label" for="">Project Title</label> <input
									class="form-control" type="text" th:field="*{title}" />
							</div>

							<!-- Project Description -->
							<div class="mb-6">
								<label class="form-label" for="">Description</label>
								<textarea class="form-control" rows="3"
									th:field="*{description}"></textarea>
							</div>

							<button class="btn btn-primary" type="submit">Save</button>
							<a class="btn btn-light"
								th:href="@{'/project/'+${project.projectId}}">Cancel</a>
						</form>
					</div>
				</div>
			</div>
		</section>

	</div>
	<div th:insert="util/util:: js  " />
</body>
</html>