<div th:fragment="trainee">
	<section class="pt-8" th:if="${listOfRoles.size()!=0}">
		<div class="container">
			<div class="p-6 bg-white rounded shadow">
				<!-- Heading -->
				<div class="d-flex">
					<div class="p-2">
						<i class="fa-solid fa-file-lines fa-xl mx-auto mb-6"></i>
					</div>
					<div class="p-2">
						<h5 class="font-heading">Projects Participated</h5>
							<span class="d-block small text-secondary" 
							th:text="${isUser ? 'You have' : user.firstName + ' has'}
							+ ' participated in ' 
							+ ${listOfRoles.size} + 
							' project' + 
							${listOfRoles.size > 1 ? 's.':'.'}"></span>
					</div>
				</div>
				<!-- Projects -->
				<div class="table-responsive px-6">
					<table class="table mb-0 small">
						<!-- Table Head -->
						<thead class="table-primary-light">
							<tr>
								<th class="py-4 px-6 text-secondary">Project</th>
								<th class="py-4 px-6 text-secondary">Type</th>
								<th class="py-4 px-6 text-secondary">Description</th>
								<th class="py-4 px-6 text-secondary">Role</th>
								<th class="py-4 px-6 text-secondary"></th>
							</tr>
						</thead>
						<!-- Projects-->
						<tbody>
							<tr class="border-light" th:each="role:${listOfRoles}" th:object="${role}">
								<td class="py-4 pr-6">
									<div class="d-flex align-items-center">
										<div class="ms-4">
											<a th:href="@{/project/} + *{project.projectId}"
												class="text-decoration-none">
												 <p class="fw-bold small mb-0" th:text="*{project.title}">Web Development</p>
											</a>
											
											
											
											<div class="d-flex py-1 align-items-center">
												<i class="fa-solid fa-people-group"></i> <span class="px-2"  th:text="*{project.projectRoles.size()}">number</span>
											</div>
										</div>
									</div>
								</td>
								
								<!-- Type -->
								<td class="py-4 px-6">
									<p th:text="*{project.type}">Project Type</p>
								</td>
								
								<!-- Description -->
								<td class="py-4 px-6">
									<p th:text="*{project.description}">Description</p>
								</td>
								
								<!-- Role -->
								<td class="py-4 px-6">
									<p th:text="*{title}">Role</p>
								</td>
								
								<td class="py-4 px-6">
									<div
										class="d-flex mb-n1 me-6 align-items-center justify-content-end">
										<a
											class="btn btn-sm btn-info-light d-flex align-items-center justify-content-center"
											th:href="@{/project/} + *{project.projectId}" th:if="${isUser}">
											<span>View</span>
										</a>
										
										<div th:if="${isUser}">
											<a class="mx-2 btn btn-sm btn-danger" 
											th:href="@{'/project/' + *{project.projectId} + '/delete'}" th:if="${role.project.creator.id == session.user.id}">Delete</a>										
										</div>						
									</div>
								
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>
