<!DOCTYPE html>
<html lang="en">
<head>
<title>User Profile</title>
<div th:insert="~{util/util::head}" />
<script type="text/javascript" th:src="@{js/check.js}"></script>
</head>


<body>
	<div class="" th:object="${user}">
		<!-- Navigation -->
		<div th:insert="~{util/navbar::navbar}" />

		<!-- Reset Password -->
		<section class="py-8">
			<div class="container">
				<div class="p-6 mb-6 bg-white rounded shadow">
					<!-- Breadcrumb -->
					<div class="d-flex w-100 align-items-center">
						<div aria-label="breadcrumb"
							style="-bs-breadcrumb-divider: '&gt;'">
							<ol class="breadcrumb small mb-0">
								<li class="breadcrumb-item"><a
									class="text-decoration-none d-flex align-items-center"
									th:href="@{/}"> <span class="d-inline-block me-2"> <i
											class="fa-solid fa-house-chimney"></i>
									</span> <span class="text-secondary">Home</span>
								</a></li>
								<li class="breadcrumb-item"><a
									class="text-decoration-none d-flex align-items-center"
									th:href="@{/profile}"> <span class="d-inline-block me-2">
											<i class="fa-solid fa-user"></i>
									</span> <span class="text-secondary">Profile</span>
								</a></li>
								<li class="breadcrumb-item"><a
									class="text-decoration-none d-flex align-items-center" href="#">
										<span class="d-inline-block me-2"> <i
											class="fa-solid fa-lock"></i>
									</span> <span class="text-secondary">Reset Password</span>
								</a></li>
							</ol>
						</div>
					</div>

					<!-- Edit Profile -->
					<div class="py-8">
						<h3 class="h5 mb-2">Reset Password</h3>
						<form class="pt-5" th:action="@{/saveUpdateUser}" method="post">

							<div class="row">

								<input th:field="*{id}" hidden /> <input th:field="*{username}"
									hidden /> <input th:field="*{firstName}" hidden /> <input
									th:field="*{lastName}" hidden /> <input th:field="*{email}"
									hidden /> <input th:field="*{region}" hidden /> <input
									th:field="*{role}" hidden /> <input th:field="*{stream}"
									hidden />

								<div class="col-12 col-lg-6">
									<div class="mb-6">
										<label class="form-label" for="">Password</label> <input
											class="form-control" type="password" th:field="*{password}"
											id="password" required />
									</div>
								</div>
								<div class="col-12 col-lg-6">
									<div class="mb-6">
										<label class="form-label" for="">Confirm Password</label> <input
											class="form-control" type="password" id="confirm"
											oninput="check(this)" required />
									</div>
								</div>
							</div>

							<button class="btn btn-primary" type="submit">Save</button>
						</form>
					</div>
				</div>
			</div>
		</section>

	</div>
	<div th:insert="util/util:: js  " />
</body>
</html>