<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>All Users</title>

    <div th:insert="util/cdnInjection :: head-css"></div>

</head>

<body>
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main"
     th:insert="util/cdnInjection :: navbarSideLoggedIn"></nav>
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <div th:insert="util/cdnInjection :: navbarTopLoggedIn"></div>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href=""><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="">Dashboards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">All Users</li>
                            </ol>
                        </nav>
                    </div>

                </div>
                <!-- Card stats -->
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Datatable</h3>

                        <p class="text-sm mb-0">
                            Current Users in the database
                        </p>
                        <div class="col-12 text-right">
                            <a href="/admin/createUser" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="tooltip" data-original-title="Edit product">
                                <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                                <span class="btn-inner--text">Create User</span>
                            </a>
                        </div>

                    </div>
                    <div class="table-responsive py-4">
                        <table class="table table-flush" id="datatable-basic">
                            <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Region</th>
                                <th>Role</th>
                                <th>Enabled</th>
                                <th>Skills</th>
                                <th>Portfolio</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="u : ${listOfUsers}" th:object="${u}">
                                <td th:text="*{id}"></td>
                                <td th:text="*{firstName}"></td>
                                <td th:text="*{lastName}"></td>
                                <td><p class="fw-normal mb-1" th:text="*{username}"></p></td>
                                <td th:text="*{email}"></td>
                                <td th:text="*{password}"></td>
                                <td th:text="*{region}"></td>
<!--                                <td th:text="*{role}"></td>-->
                                <td >
                                    <div th:if="*{role == role.Admin}">
                                        <span class="badge badge-danger rounded-pill d-inline" th:text="*{role}"></span>
                                    </div>
                                    <div th:if="*{role == role.Trainer}">
                                        <span class="badge badge-success rounded-pill d-inline" th:text="*{role}"></span>
                                    </div>
                                    <div th:if="*{role == role.Trainee}">
                                        <span class="badge badge-info rounded-pill d-inline" th:text="*{role}"></span>
                                    </div>
                                    <div th:if="*{role == role.Sales}">
                                        <span class="badge badge-default rounded-pill d-inline" th:text="*{role}"></span>
                                    </div>
                                </td>
                                <td>
                                    <div th:if="${u.enabled} == true">
                                        <span class="badge badge-success rounded-pill d-inline"
                                              th:text="*{enabled}"></span>
                                    </div>
                                    <div th:if="${u.enabled} == false">
                                        <span class="badge badge-danger  rounded-pill d-inline"
                                              th:text="*{enabled}"></span>
                                    </div>
                                </td>
                                <td>
                                    <a type="button" class="btn btn-outline-primary btn-sm btn-rounded"
                                       th:href="@{'/users/skills/' + *{id}}"> View Skills</a>
                                </td>
                                <td>
                                    <a type="button" class="btn btn-outline-primary btn-sm btn-rounded"
                                       th:href="@{'/users/portfolio/' + *{id}}"> View Portfolio</a>
                                </td>
                                <td>
                                    <a type="button" class="btn btn-outline-warning btn-sm btn-rounded"
                                       th:href="@{'/updateAll/user/' + *{id}}"> Edit</a>
                                </td>
                                <div th:if="*{role == role.Admin}">
                                    <td>
                                        <button type="button" class="btn btn-outline-danger btn-sm btn-rounded"
                                           th:href="@{'/user/' + *{id} + '/delete'}" disabled> Delete</button>
                                    </td>
                                </div>
                                <div th:if="*{role != role.Admin}">
                                <td>
                                    <a type="button" class="btn btn-outline-danger btn-sm btn-rounded"
                                       th:href="@{'/user/' + *{id} + '/delete'}"> Delete</a>
                                </td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>