<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit All User</title>
    <div th:insert="util/cdnInjection :: head-css"></div>

</head>

<body>
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main"
     th:insert="util/cdnInjection :: navbarSideLoggedIn"></nav>
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <div th:insert="util/cdnInjection :: navbarTopLoggedIn"></div>

    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center"
         style="min-height: 500px; background-image: url(../../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white" th:text="${'Hi, '+ user.firstName+'!'}"></h1>
                    <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with
                        your work and manage your projects or assigned tasks</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-12 order-xl-1">
                <div class="row">

                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">User profile </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/saveAllUser}" th:object="${user}">
                            <h6 class="heading-small text-muted mb-4">User information</h6>
                            <input type="text" class="form-control" id="id" th:field="*{id}" hidden>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Username</label>
                                            <input type="text" id="input-username" class="form-control"
                                                   th:field="${user.username}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Email address</label>
                                            <input type="email" id="input-email" class="form-control"
                                                   th:field="${user.email}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">First name</label>
                                            <input type="text" id="input-first-name" class="form-control"
                                                   th:field="${user.firstName}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Last name</label>
                                            <input type="text" id="input-last-name" class="form-control"
                                                   th:field="${user.lastName}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4"/>
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">Additional information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="role">Stream</label>
                                            <select class="form-control" data-toggle="select" title="Simple select" data-placeholder="Select a state" th:field="*{stream}">
                                                <option th:value="DEV" th:text="DEV"></option>
                                                <option th:value="BA" th:text="BA"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="region">Region</label>
                                            <select class="form-control" data-toggle="select" title="Simple select" data-placeholder="Select a state" th:field="*{region}">
                                                <option th:value="AU" th:text="AU"></option>
                                                <option th:value="UK" th:text="UK"></option>
                                                <option th:value="US" th:text="US"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="role">Role</label>
                                            <select class="form-control" data-toggle="select" title="Simple select" data-placeholder="Select a state" th:field="*{role}">
                                                <option th:value="*{role.Admin}" th:text="Admin"></option>
                                                <option th:value="*{role.Trainee}" th:text="Trainee"></option>
                                                <option th:value="*{role.Trainer}" th:text="Trainer"></option>
                                                <option th:value="*{role.Sales}" th:text="Sales"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Account Status</label>
                                            <select class="form-control" data-toggle="select" title="Simple select" data-placeholder="Select a state" th:field="*{enabled}">
                                                <option th:value="true" th:text="Enabled"></option>
                                                <option th:value="false" th:text="Disabled"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Password</label>
                                        <input type="text" id="input-last-name" class="form-control"
                                               th:field="${user.password}">
                                    </div>
                                </div>
                            </div>
                                <button type="submit" class="btn btn-primary font-weight-bold mt-3">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>