<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<html>-->
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Admin Create Task</title>
    <div th:insert="util/cdnInjection :: head-css"></div>

</head>

<body>
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main"
     th:insert="util/cdnInjection :: navbarSideLoggedIn"></nav>
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <div th:insert="util/cdnInjection :: navbarTopLoggedIn"></div>

    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 500px;">
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white" th:text="${'Hi, '+ session.user.firstName+'!'}"></h1>
                    <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with
                        your work and manage your projects or assigned tasks</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-12 order-xl-1">
                <div class="row">

                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Create Task </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/saveTask}" th:object="${task}">
                            <h6 class="heading-small text-muted mb-4">User information</h6>
                            <input th:field="*{id}" hidden />
                            <input class="form-control" th:name="projectId" th:value=${project.projectId} hidden>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Task Name</label>
                                            <input class="form-control" th:field="*{title}"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Task Brief</label>
                                            <input class="form-control" th:field="*{brief}" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Datepicker</label>
                                            <input class="form-control datepicker" placeholder="Select date"
                                                   th:field="*{dueDate}"
                                                   type="date">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                        
                                    </div>
                                </div>
                                <button class="btn btn-primary font-weight-bold mt-3" type="submit">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>