<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>All Projects</title>

    <div th:insert="util/cdnInjection :: head-css"></div>

</head>

<body>
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main"
     th:insert="util/cdnInjection :: navbarSideLoggedIn"></nav>

<!-- Main content -->
<div class="main-content" id="panel" th:object="${project}">
    <!-- Topnav -->
    <div th:insert="util/cdnInjection :: navbarTopLoggedIn"></div>
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href=""><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="">Dashboards</a></li>
                                <li aria-current="page" class="breadcrumb-item active">All Contributors</li>
                            </ol>
                        </nav>
                    </div>

                </div>
                <!-- Card stats -->

            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Datatable</h3>
                        <p class="text-sm mb-0">
                            Current Contributors in the database
                        </p>
                        <div class="col-lg-12 text-right">
                            <a class="btn btn-sm btn-neutral btn-round btn-icon" data-original-title="Edit product"
                               data-toggle="tooltip" th:href="@{'/projectSingleView/' + *{projectId} + '/addRole'}">
                                <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                                <span class="btn-inner--text">Add Role</span>
                            </a>
                            <a class="btn btn-sm btn-neutral btn-round btn-icon" data-original-title="Edit product"
                               data-toggle="tooltip" th:href="@{'/projectSingleView/' + *{projectId} + '/tasks'}">
                                <span class="btn-inner--icon"><i class="fas fa-file"></i></span>
                                <span class="btn-inner--text">View Tasks</span>
                            </a>
                            <a class="btn btn-sm btn-neutral btn-round btn-icon" data-original-title="Edit product"
                               data-toggle="tooltip" th:href="@{'/projectSingleView/' + *{projectId} + '/viewFiles'}">
                                <span class="btn-inner--icon"><i class="fas fa-file"></i></span>
                                <span class="btn-inner--text">View Files</span>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive py-4" th:if="!${roles.size()==0}">
                        <table class="table table-flush" id="datatable-basic">
                            <thead class="thead-light">
                            <tr>
                                <th>Project Name</th>
                                <th>Description</th>
                                <th>Trainee</th>
                                <th>Skills</th>
                                <th>Invite</th>
                                <th>Upload</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="role:${roles}" th:object="${role}">
                                <td th:text="*{title}"></td>
                                <td th:text="*{description}"></td>
                                <td th:text="${role.participant.firstName} + ' ' + ${role.participant.lastName}"></td>
                                <td>
                                    <a class="btn btn-sm me-2 mb-1 btn-outline-primary small"
                                       th:each="skill:*{skills}" th:text="${skill.title}">Skills</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-primary btn-sm btn-rounded"
                                       th:href="@{'/project/' + ${project.projectId} + '/invite/' + *{id}}">Invite</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-info btn-sm btn-rounded"
                                       th:href="@{'/uploadFile/' + *{project.projectId}}">Upload</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-warning btn-sm btn-rounded"
                                       th:href="@{'/project/' + ${project.projectId} + '/editRole/' + *{id}}">Edit</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger btn-sm btn-rounded"
                                       th:href="@{'/project/' + ${project.projectId} + '/deleteRole/' + *{id}}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>